body {
}

p {
	font-family: Georgia, serif;
	font-size:1em;
	line-height:1.4em;
	color:#666;
}
h1 {
	color:red;
	font-family:sans-serif;
	font-size:2em;
}

#map-canvas{
width:80%;
height:250px;
overflow:visible !important;
background-color:#666;
}

#leadimg {
width:100%;
height:auto;
}

.lead {
max-width: 100%;
width:90%
}


.nav-bar-top {
position:fixed;
top:25px;
width:500px;
height:25px;
padding:5px;
background: rgba(0,0,0,.5);

}

#prev-story{
float: left;
}
#next-story{
float:right;}